main:
  params: [event]
  steps:
    - decode_pubsub_message:
        assign:
          - base64: ${base64.decode(event.data.message.data)}
          - message: ${text.decode(base64)}
    - call_customer_rewards:
        call: http.post
        args:
          url: CUSTOMER_REWARDS_SERVICE_URL
          auth:
            type: OIDC
          body:
            ${message}
        result: result
    - return_result:
        return: ${result}